<!DOCTYPE html>
<html>

<head>
    <title>View Deals Offered</title>
    <link rel="stylesheet" href="css/slider.css" type="text/css" />
</head>

<body>
    <div ng-app="myApp" ng-controller="dealCtrl" ng-init="sortfield='modified'">
        <h5>VIEW DEALS</h5>
        <div>
            <input type="radio" ng-model="criteria" value="City" ng-click="alldeals=false; found=''"> City Based&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" ng-model="criteria" value="Near Me" ng-click="alldeals=false; found=''"> Offers Near An Address
        </div>
        <div ng-switch="criteria">
            <div ng-switch-when="City">
                <br>
                <div class="ex2">
                    <div class="row">
                        <div class="col-sm-7">
                            <input type="text" placeholder="Enter City" name="citySelect" ng-model="data.citySelect" ng-minlength="2" ng-required="true" />&nbsp;
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-primary btn-md" ng-click="Getdeals('city',data.citySelect, false)">Fetch Deals</button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="ex2" ng-switch-when="Near Me">
                <br>
                <div id="slidecontainer">
                    <p>Select Distance: </p><input type="range" ng-model="data.distance" min="1" max="50" value="25" class="slider" id="myRange">
                    <p>{{'Within ' + data.distance + 'Km'}} Of Address</p>
                </div>
                <p>
                    <!--    <button type="button" class="btn btn-primary btn-sm" ng-click="PopulateDefaultAddress();data.searchAddress=address">Use My Default Address</button>-->
                    <input type="text" name="myAddress" size="20" ng-model="data.searchAddress" placeholder="e.g. Park Street, Kolkata">
                    <button type="button" class="btn btn-primary btn-md" ng-click="OrchestrateGetNearby(data,'deals'); spinner = true;">Fetch Offers</button></p>
                <br>
            </div>
        </div>
        <center/><i ng-show="spinner" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <center>
            {{found}}
            <br>
        </center>
        <div class="container ex2" ng-show="alldeals">

            <label><i class="fa fa-arrow-circle-up fa-2x" ng-show="!reverse" ng-click="reverse = !reverse;"> </i>
                <i class="fa fa-arrow-circle-down fa-2x" ng-show="reverse" ng-click="reverse = !reverse;"></i> &nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="sort" ng-model="sortfield">
                        <option value="modified" selected>Date</option>                                       
                        <option value="offeredby">Name</option>
                        <option value="itemtype">Item Type</option>
                        <option value="address">Address</option>
                    </select>
                    <br>
            </label>&nbsp;&nbsp;
            <label>
                <input type="text" placeholder="Search items, places etc." ng-model="searchText">&nbsp;&nbsp;
                <i class="fa fa-search fa-2x"></i> 
            </label>
            <br><b>{{result}}{{}}</b>
            <table class="table table-responsive">
                <tr ng-repeat="row in citydeals | orderBy : sortfield : reverse| filter:searchText ">
                    <td ng-init="stackicon = row.fa_icon + ' fa-stack-1x'">
                        <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle fa-stack-2x icon-background4"></i>
                                        <i class={{stackicon}}></i>
                                    </span> &nbsp;
                        <span class="fa-stack fa-2x" ng-show="isEmergency(row.itemtype)">
                                        <i class="fa fa-circle fa-stack-2x icon-backgroundemergency"></i>
                                        <i class="fa fa-plus-square fa-stack-1x"></i>
                                      </span>
                        <br> {{row.items}} {{ '. Offered by ' + row.offeredby}} at {{row.address}}; posted on {{row.modified | date:'medium'}}<br>
                        <a href=mailto:{{row.email}}><i class="fa fa-envelope fa-2x"></i></a>
                        <span style="display:inline-block; width: 36px;"></span>
                        <a href=tel:{{row.phone_number}}><i class="fa fa-phone fa-2x"></i></a>
                        <span style="display:inline-block; width: 36px;"></span>
                        <a href='' ng-click="ShowDirections(row.address)"><i class="fa fa-map-marker fa-2x"></i></a>
                        <span ng-show="mobileDevice" style="display:inline-block; width: 36px;"></span>
                        <a href='' ng-show="mobileDevice" ng-click="SocialShare(row, 'FreeCycle New Offers Alert')"><i class="fa fa-share-square-o fa-2x"></i></a>
                        <span ng-show="!mobileDevice" style="display:inline-block; width: 36px;"></span>
                        <li class="dropdown" ng-show="!mobileDevice">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-square fa-2x"></i>  <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <span ng-show="!mobileDevice" style="display:inline-block; width: 36px;"></span>
                                    <a href='' ng-show="!mobileDevice" ng-click="SocialShare(row, 'twitter')">
                                        <i class="fa fa-twitter fa-2x"></i>
                                    </a>
                                </li>
                                <li>
                                    <span ng-show="!mobileDevice" style="display:inline-block; width: 36px;"></span>
                                    <a href='' ng-show="!mobileDevice" ng-click="SocialShare(row, 'facebook')">
                                        <i class="fa fa-facebook fa-2x"></i>
                                    </a>
                                </li>
                                <li>
                                    <span ng-show="!mobileDevice" style="display:inline-block; width: 36px;"></span>
                                    <a href='' ng-show="!mobileDevice" ng-click="SocialShare(row, 'google')">
                                        <i class="fa fa-google-plus fa-2x"></i>
                                    </a>
                                </li>
                                <li>
                                    <span ng-show="!mobileDevice" style="display:inline-block; width: 36px;"></span>
                                    <a href='' ng-show="!mobileDevice" ng-click="SocialShare(row, 'linkedin')">
                                        <i class="fa fa-linkedin fa-2x"></i>
                                    </a>
                                </li>
                                <li>
                                    <span ng-show="!mobileDevice" style="display:inline-block; width: 36px;"></span>
                                    <a href='' ng-show="!mobileDevice" ng-click="SocialShare(row, 'pinterest')">
                                        <i class="fa fa-pinterest fa-2x"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</body>

</html>