<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Freecycle - Contact Us</title>
</head>

<body ng-app="myApp">
    <div class="container" ng-controller="ChatCtrl">
        <!--              -->
        <div id="chat">
            <form class="form-horizontal" name="myForm" autocomplete="on" novalidate>
                <center/>
                <legend>Lets Talk!</legend>
                <center/>
                <br>
                <fieldset class="clearfix:after">
                    <p>
                        <label for="sel1">{{ targetChatuserName }}</label>
                        <button type="button" class="btn btn-info" ng-click="AnalysePersonality()">Analyse Personality of {{ targetChatuserName }}</button>
                    </p>
                    <br>
                    <ul>
                        <li ng-repeat-start="x in chatArray track by $index">{{ x.sentby + ' :' }}</li>
                        <li ng-repeat-end>{{ x.text + ' ' + x.time }}</li>
                    </ul>
                    <p>
                        <input id="items" name="text" ng-model="chat.text" ng-minlength="2" type="text" autocomplete="off" placeholder="&#xf086; Chat Text" class="form-control input-md" ng-required="true">
                        <p class="isa_error" ng-show="myForm.items.$dirty && myForm.items.$invalid">Please Enter Text</p>
                    </p>
                    <p>
                        <input type="button" name="submit" class="btn btn-success btn-xl" value="SUBMIT" ng-click="SendChat(chat); spinner = true;" ng-disabled="myForm.name.$invalid||  myForm.email.$invalid ||  myForm.phone.$invalid || 
                                          myForm.city.$invalid ||  myForm.subject.$invalid ||  myForm.text.$invalid">
                        <br>
                        <center/> {{result}}
                    </p>
                    <center/><i ng-show="spinner " class="fa fa-circle-o-notch fa-spin "></i>
                </fieldset>
            </form>
        </div>

        <div align=center ng-show="loading ">
            <i class="fa fa-refresh fa-spin fa-3x fa-fw "></i>
            <span class="sr-only ">Loading...</span>
        </div>
        <div id="results" align=center ng-show="resultsReady">
            <p ng-show="errorMsg!=''">{{errorMsg}}</p>
            <p>{{response.data.word_count_message}}</p><br>
            <div ng-hide="LOL" class="container">
                <div class="btn-group">
                    <a href="#/personality" class="btn btn-success" ng-click="showValues=false;showPersonality=true;showNeeds=false;showConsumption=false;firsttime=false;">Personality</a>
                    <a href="#/personality" class="btn btn-success" ng-click="showValues=true;showPersonality=false;showNeeds=false;showConsumption=false;firsttime=false;">Values</a>
                    <a href="#/personality" class="btn btn-success" ng-click="showValues=false;showPersonality=false;showNeeds=true;showConsumption=false;firsttime=false;">Needs</a>
                    <a href="#/personality" class="btn btn-success" ng-click="showValues=false;showPersonality=false;showNeeds=false;showConsumption=true;firsttime=false;">Consumption</a>
                </div>
            </div>
            <br>
            <div ng-show="LOL" style="width:100%;height:0;padding-bottom:75%;position:relative;">
                <h2>Too few words!!!</h2>
                <center/><img src="https://media.giphy.com/media/jrZXivrCv3deg/giphy.gif"><img>
            </div>
            <div class="table-responsive" ng-show="showPersonality || firsttime">
                <table class="table-sm table-hover">
                    <tbody ng-repeat="resp in response.data.personality ">
                        <tr>
                            <th>{{resp.name}}</th>
                            <th vertical-align="middle">
                                <div ng-init="percent=resp.percentile*100 " class="outer">
                                    <div class="inner" ng-style="{ width: percent + '%' } "></div>
                                </div>
                            </th>
                            <th>{{resp.percentile | number:2}}</th>
                        </tr>
                        <tr ng-repeat="sub in resp.children ">
                            <td>{{sub.name}}</td>
                            <td vertical-align="middle">
                                <div ng-init="percent=sub.percentile*100 " class="outer">
                                    <div class="inner" ng-style="{ width: percent + '%' } "></div>
                                </div>
                            </td>
                            <td>{{sub.percentile | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive" ng-show="showNeeds">
                <table class="table-sm table-hover">
                    <tr ng-repeat="need in response.data.needs">
                        <td>{{need.name}}</td>
                        <td>
                            <div ng-init="percent=need.percentile*100 " class="outer">
                                <div class="inner " ng-style="{ width: percent + '%' }"></div>
                            </div>
                        </td>
                        <td>{{need.percentile | number:2}}</td>
                    </tr>
                </table>
            </div>
            <div class="table-responsive" ng-show="showValues">
                <table class="table-sm table-hover">
                    <tr ng-repeat="value in response.data.values">
                        <td>{{value.name}}</td>
                        <td>
                            <div ng-init="percent=value.percentile*100 " class="outer">
                                <div class="inner " ng-style="{ width: percent + '%' }"></div>
                            </div>
                        </td>
                        <td>{{value.percentile | number:2}}</td>
                    </tr>
                </table>
            </div>
            <div class="table-responsive" ng-show="showConsumption">
                <table class="table-sm table-hover">
                    <tbody ng-repeat="cp in response.data.consumption_preferences ">
                        <tr>
                            <th>{{cp.name}}</th>
                            <th> </th>
                        </tr>
                        <tr ng-repeat="sub in cp.consumption_preferences ">
                            <td>{{sub.name}}</td>
                            <td>
                                <div ng-init="percent=sub.score*100 " class="outer ">
                                    <div class="inner " ng-style="{ width: percent + '%' } "></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>

</html>