<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Freecycle - Contact Us</title>
    <style>
        #mylist {
            width: auto;
            height: 200px;
            padding: 20px;
            background-color: #eeeeee;
            overflow-y: auto;
            text-align: left;
            list-style-type: none;
        }
    </style>
    <script>
        $('.add').click(function() {

            //$("#mylist").append("<li>Test</li>");

            $('#mylist').animate({
                scrollTop: $('#mylist').prop("scrollHeight")
            }, 500);

        });
    </script>
</head>

<body ng-app="myApp">
    <div class="container">
        <!--              -->
        <div id="login">
            <form class="form-horizontal" ng-controller="ChatCtrl" name="myForm" autocomplete="on" novalidate>
                <center/>
                <legend>Lets Talk!</legend>
                <center/>
                <br>
                <fieldset class="clearfix:after">
                    <p>
                        <label for="sel1">Online Now:</label>
                        <!--<div class="card-deck bg-success" ng-repeat="x in onlineUsers">
                            <div class="card" style="width:90px">
                                <img class="card-img-top" src="{{x.photoURL}}" alt="Card image">
                                <div class="card-body">
                                    <h4 class="card-title">{{x.fullname}}</h4>
                                    <a href="#" class="btn btn-primary">See Profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="btn-group-vertical">
                                <button type="button" ng-click="chat.targetuser=x.email; StartChat(chat)" ng-repeat="x in onlineUsers" class="btn btn-primary">{{x.fullname}}
                                    <img class="card-img-top" src="{{x.photoURL}}" alt="Card image" style="width:40%">
                                </button>
                            </div>
                        </div>-->
                        <select class="form-control" id="targetuser" name="targetuser" ng-change="StartChat(chat)" ng-model="chat.targetuser">                            
                            <option ng-show="x.fullname != null && x.fullname.length > 1" value="{{ x.email }}" ng-repeat="x in onlineUsers">{{ x.fullname }}</option>
                        </select>
                        <!--<select class="form-control" id="targetuser" name="targetuser" ng-init="StartChat(chat)" ng-model="chat.targetuser" ng-options="x.value as x.fullname for x in onlineUsers" style="width:200px">
                        </select>-->

                        <!--                       <button type="button" ng-disabled="targetChatuserName == null || targetChatuserName.length < 1" class="btn btn-info" ng-click="location = '/personality';personality.text = secondPersonTextArray.toString();">Analyse Personality of {{ targetChatuserName }}</button>-->
                        <button type="button" ng-disabled="targetChatuserName == null || targetChatuserName.length < 1" class="btn btn-info" ng-click="OpenPersonalityPage()">Analyse Personality of {{ targetChatuserName }}</button>
                    </p>
                    <br>
                    <div>
                        <form class="form-horizontal" name="myForm" autocomplete="on" fix-bottom="chat" novalidate>
                            <fieldset class="clearfix:after">


                                <!--<table class="table">
                                        <tbody>
                                            <tr ng-repeat="msg in chatArray track by $index">
                                                <td><strong>{{ msg.sentby }} </strong>: {{ ' ' + msg.text }}</td>
                                            </tr>
                                        </tbody>
                                    </table>-->
                                <div id="chat" class="w3-container">

                                    <ul id="mylist">
                                        <li ng-repeat="x in chatArray track by $index">
                                            <div class="w3-panel w3-card-4 w3-yellow">{{ x.sentby + ': ' + x.text + ' ' }}
                                                <font color="#C0C0C0">{{ x.time }}</font>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <p>
                                    <input type="text" ng-model="chat.text" class="form-control" placeholder="Enter a Message "> </p>
                                <p>
                                    <button class="btn btn-primary btn-s add" type="submit" ng-click="SendChat(chat)" ng-hide="false">Submit</button>
                                    <!--<button class="btn btn-primary btn-s" type="reset" ng-click="chatArray = null;" ng-hide="false">Clear Chat</button>-->
                                    <br>
                                    <center/> {{result}}
                                </p>
                                <center/><i ng-show="spinner " class="fa fa-circle-o-notch fa-spin "></i>
                            </fieldset>
                        </form>
                        <!--<form fix-bottom="chat" ng-submit="SendChat(chat)">
                            <div id="chat" style="height:150px; overflow-y:scroll">
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="msg in chatArray track by $index">
                                            <td><strong>{{ msg.sentby }} : </strong>

                                            </td>
                                            <td>{{msg.text}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <input type="text" ng-model="chat.text" class="form-control" placeholder="Enter a Message ">
                            <button class="btn btn-primary btn-s" ng-click="SendChat(chat)" type="submit" ng-hide="false">Submit</button>
                        </form>-->
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>