<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Freecycle - Login</title>
    <link rel="stylesheet" href="css/landing-page.css" media="screen" type="text/css" />
</head>

<body ng-app="myApp" ng-controller="ChatCtrl">
    <div class="container">

        <div id="login">
            <div class="vl"></div>
            <form name="myForm" autocomplete="on" novalidate>
                <h2>Please Sign In or Register</h2>
                <!--<img src="img/LoginIcon.png">-->
                <div class="vl"></div>
                <p>
                    <input type="text" name="username" class="form-control input-md" ng-model="login.email" placeholder="&#xf0e0; Email" value="" ng-required="true">
                    <p class="isa_error" ng-show="myForm.username.$dirty && myForm.username.$invalid"></p>
                </p>
                <!-- JS because of IE support; better: placeholder="Username" -->
                <p>
                    <input name="password" type="password" class="form-control input-md" ng-model="login.password" ng-minlength="6" placeholder="&#xf023; Password" value="" ng-required="true">
                    <p class="isa_error " ng-show="myForm.password.$dirty && myForm.password.$invalid "></p>
                </p>
                <!-- JS because of IE support; better: placeholder="Password " -->
                <p>
                    <button type="button" class="btn btn-success btn-xl" ng-click="Login(login); spinner=true;" ng-disabled="myForm.username.$invalid|| myForm.password.$invalid ">Sign In</button>
                    <br>
                    <center/> {{loginResult}}
                </p>
                <p>Or <a href="#/signup ">Sign Up</a></p>
                <p>&nbsp;<a href="#/resetpw ">Forgot Password</a></p>
                <center/><i ng-show="spinner " class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </form>
        </div>
        <!-- end login -->

    </div>
</body>

</html>