<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>Freecycle</title>
</head>

<body ng-app="myApp" ng-controller="ChatCtrl">
    <br>
    <div class="container">
        <div id="login">
            <center>
                <form class="form-horizontal" name="myForm">
                    <legend>
                        <h4/>Reset Password
                    </legend>
                    <br>
                    <p>
                        <input type="email" class="form-control" name="email" ng-model="email" placeholder="&#xf0e0;Email" value="EMail" ng-required="true">
                        <span class="help-block" ng-show="myForm.email.$dirty && myForm.email.$invalid">e.g. abcd@xyz.com</span>
                    </p>
                    <p>
                        <input type="button" value="Send" ng-click="SendResetPasswordRequest(email); spinner = true;" ng-disabled="myForm.email.$invalid">

                        <br><br>{{result}}
                    </p>
                    <center/><i ng-show="spinner" class="fa fa-circle-o-notch fa-spin"></i>
                </form>
            </center>
        </div>
    </div>
</body>

</html>